@import "assets/scss/config/fonts";
@import "assets/scss/config/reset";
@import "assets/scss/config/vars";
@import "assets/scss/config/utility";
@import "assets/scss/modules/typography";
@import "assets/scss/modules/fields";
@import "assets/scss/modules/buttons";
@import "assets/scss/modules/toast";
@import "assets/scss/config/global";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.app-author {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  --gap: 15px;
  min-height: 100vh;
  //display: grid;
  //place-items: center;
  background-color: var(--bcs-grey-4);
  padding: 10px;
  transition: all 0.3s var(--ease-elastic-1);
}

.components {
}

.component01 {
  .dropdown {
    --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    --color: #166e67;
    --gap: 8px;
    --radius: 5px;

    position: relative;

    &__trigger {
      background-color: var(--c-white);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: var(--gap);
      padding: var(--gap);
      cursor: pointer;
      border-radius: var(--radius);
      box-shadow: var(--shadow);

      & > * {
        pointer-events: none;
      }

      .arrow {
        transform: rotate(180deg);
        transition: 0.2s ease;
      }
    }

    &__list {
      position: absolute;
      width: 250px;
      box-shadow: var(--shadow);
      border-radius: var(--radius);
      margin-top: 10px;
      background-color: var(--c-white);
      transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
      transform: translateY(0.5rem);
      visibility: hidden;
      opacity: 0;
    }

    &__link {
      display: flex;
      align-items: center;
      column-gap: var(--gap);
      padding: 10px;
      text-decoration: none;
      color: var(--c-dark);

      &:hover {
        background-color: var(--color);
        color: white;
      }
    }
  }

  .bx {
    font-size: 18px;
  }

  .show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
  }
}

